<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title></title>
</head>
<body>
    <form action="/nickname" method="POST">
       <input type="text" name="name" placeholder="Name">
       <input type="text" name="nickname" placeholder="nickname">
           <button type="submit">Submit</button>
    </form>

</body>
</html>